.backgroundcolor1 {
  background-color: #00ffff;
}

.practicebuttoncolor {
  background-color: #FF69B4;
}

.footercolor
{
  background-color: #002333;
}

.statistic
{
  background-color: #003A55;

}

.highlight
{
  background-color: #ffff66;

}

.input-large {
  font-size: 30px;
}